.slider-container {
	display: flex;
	align-items: center;
	gap: 10px;

	img {
		height: 30px;
		width: 30px;
		cursor: pointer;
    z-index: 1;
	}
}

.slider-window {
	width: 700px;
	height: 300px;
	overflow: hidden;
  border-radius: 12 px;
}

.slider-pages {
  display: flex;
}