
.basket-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  height: 100vh;
	width: 100vw;
	background: #000;
	opacity: 0.7;
  display: none;
  &.active {
    display: block;
  }
}

.basket-container {
	position: fixed;
	top: 0;
	right: -400px;
	z-index: 4;
	height: 100vh;
	width: 400px;
	background: var(--color-main);
  transition: 300ms;
  overflow-y: scroll;
  
	&.active {
    transform: translateX(-400px);

  }
}
.basket-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}