.main-button {
  border: 2px solid var(--color-text);
  padding: 5px 10px;
  border-radius: 8px;
  background: none;
  font-size: 14px;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    border: 2px solid var(--color-accent);
    color: var(--color-main);
    background: var(--color-accent);
    transform: scale(1.1);
  }
}